<!DOCTYPE html>
<html>
    <head>
        <title>Gothons Of Planet Percal #25</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
<body>

<div class="">
  <p>
    I just wanted to say <em style="color: green; font-size: 2em;"><%= greeting %>, <%= name %></em>.
  </p>
</div>


</body>
</html>
